:host {
  display: flex;
  gap: 25px;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #e0e0e0;

  .tools {
    display: flex;
    gap: 10px;

    .tool {
      padding: 5px;
      border: none;
      background: none;
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  }

  .colors {
    display: flex;
    gap: 5px;

    .color {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: none;
      cursor: pointer;
    }
  }

  .icon {
    width: 100%;
    height: 100%;
    flex-grow: 1;
  }

  .tool,
  .color {
    transition: all 0.3s ease;
  }

  .tools .tool.active {
    border-radius: 5px;
    background-color: #ccc;
  }

  .colors .color.active {
    box-shadow: 0 0 0 3px #666;
  }
}
